body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rosybrown;
}

h1 {font-size: 40px;}
a{color: rgb(15, 72, 110);}
/*p::first-letter {font-weight: bold;
                font-size: 20px;
                }