body {
    font-style: oblique;
    font-family: sans-serif;
    background-color: rgb(143, 160, 235);
}

h1 {font-size: 40px;}
a{color: red;}
/*p::first-letter {font-weight: bold;
                font-size: 20px;
                }