body {
    background-color: rosybrown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.images {
    width: 25%;
    height: 35%;
}


.box {
    padding: 4px 10px 4px 10px;
    border: 1px solid black;
}

a:visited {
    color:rgb(15, 72, 110);
}

a:hover {
    color: slateblue;
}

h1 {font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



