body {
    background-color: rosybrown;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.images {
    width: 30%;
    height: 35%;
}

#description {
    font-size: smaller;
}

.box {
    background-color: rgb(230, 220, 214);
    width: 270px;
    padding: 3px;
    margin: 3px;
}

.button {
    background-color:rgb(230, 220, 214);
    color: slateblue;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 5px;
    cursor: pointer;
}

a:visited {
    color:rgb(15, 72, 110);
}

a:hover {
    font-style: oblique;
    color:seagreen;
}

h1 {font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    text-decoration: underline;
}

ul {
    list-style: circle;
}


