body {
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:repeat(4, 1fr);
    gap: 10px;
}

.box {
    text-align:center;
    padding: 20%;
}

.one {
    background-color:tomato;
    grid-column: 2/3;
}

.two {
    background-color:slateblue;
    grid-column: 1/2;

}

.three {
    background-color: cadetblue;
    grid-column: 2/4;

}

.four {
    background-color:yellow;
    grid-row: 3/5;
   
}

.five {
    background-color:wheat;
    
}

.six {
    background-color:springgreen;
    grid-column: 3/4;
    grid-row: 3/5;
   
}

@media only screen and (max-width: 650px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
    }
    .one {
        background-color:tomato;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .two {
        background-color:slateblue;
        grid-column: 1/2;
        grid-row: 2/3;
    
    }
    
    .three {
        background-color: cadetblue;
        grid-column: 1/2;
        grid-row: 3/4;
    
    }
    
    .four {
        background-color:yellow;
        grid-column: 1/2;
        grid-row: 4/5;
       
    }
    
    .five {
        background-color:wheat;
        grid-column: 1/2;
        grid-row: 5/6;
        
    }
    
    .six {
        background-color:springgreen;
        grid-column: 1/2;
        grid-row: 6/7;
       
    }
}